// ==========================================================================
// Objects / Container
// ==========================================================================

//
// Page-level constraining and wrapping elements.
//
// > In programming languages the word *container* is generally used for structures
// that can contain more than one element.
// > A *wrapper* instead is something that wraps around a single object to provide
// more functionalities and interfaces to it.
// @link http://stackoverflow.com/a/13202141/140357
//

.o-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    @media (min-width: $from-small) {
        padding-right: rem($padding);
        padding-left: rem($padding);
    }

    @media (max-width: $to-small) {
        padding-right: rem(20px);
        padding-left: rem(20px);
    }

    &.-medium {
    	@media (min-width: $from-medium) {
    		padding-right: rem(180px);
            padding-left: rem(180px);
    	}
    }

    &.-small {
        @media (min-width: $from-medium) {
            padding-right: 20%;
            padding-left: 20%;
        }
    }
}
