// ==========================================================================
// Utilities / Anim
// ==========================================================================

.u-anim {
    transform: translateY(rem($unit));
    opacity: 0;
    display: block;

    &.-translate {
        opacity: 1;
        transform: translateY(100%);
    }
    
    html.is-loaded & {
        transition: transform $speed-slow $easing, opacity $speed-slow $easing;
        transform: translateY(0);
        opacity: 1;

        @for $i from 1 through 10 {
            &.-delay-#{$i} {
                transition-delay: (0.1s * $i) + 0.3s;
            }
        }
    }
}

.u-anim-scroll {
    
}

.u-anim-scroll_element { 
    opacity: 0;
    transform: translateY(rem($unit));
    transition: transform $speed-slow $easing, opacity $speed-slow $easing;
    transform-origin: bottom center;

    .is-loaded &{
        
    }

    @for $i from 1 through 10 {
        &.-delay-#{$i} {
            transition-delay: (0.1s * $i) + 0.3s;
        }
    }

    .u-anim-scroll.is-inview & {
        transform: translateY(0);
        opacity: 1;
    }
}

.u-anim-img {
    transition: transform $speed-slowest $easing, opacity $speed-slowest $easing;
    opacity: 0;
    transform: scale(0.8);

    &.is-inview {
        opacity: 1;
        transform: scale(1);
    }
}