// ==========================================================================
// Background video
// ==========================================================================

.c-background-video {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: -1;
	overflow: hidden;

    html.is-mobile & {
        position: absolute;
    }
    
    @media (max-width: $to-small) {
        position: absolute;
    }

    &::before, &::after {
        position: absolute;
        background-color: $black;
        content:"";
        left: 0; right: 0;
        height: 51%;
        z-index: 1;
        transition: transform $speed-slower $easing;
    
        html.is-loaded & {
            transform: scaleY(0);
        }
    }

    &::before {
        top: 0;
        transform-origin: top center;
    }

    &::after {
        bottom: 0;
        transform-origin: bottom center;
    }
}

.c-background-video_wrapper { 
	position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; 
    transition: transform $speed-slower $easing;
    transform: scale(2) rotate(0deg);

    html.is-loaded & {
    	transform: scale(1) rotate(0deg);
    }

    html.is-loaded.has-hero-slider-active & {
        transform: scale(1.4) rotate(-15deg);
    }

    video {
    	height: 100%; width: 100%;
    	object-fit: cover;
    }
}