// ==========================================================================
// Badge
// ==========================================================================

.c-badge {
	position: relative;
	max-width: rem(400px);
	max-height: rem(400px);
	width: 50%;
	padding-top: 50%;
	display: inline-block;

	@media (min-width: $from-medium) {
		margin: 0 auto;
		margin-bottom: rem(-60px);
	}

	@media (max-width: $to-medium) {
		margin-bottom: -20%;
		margin-right: rem(-100px);
	}

	@media (max-width: $to-small) {
		width: 60%;
		padding-top: 60%;
		margin-right: rem(-40px);
	}

	img {
		width: 100%;
	}
}

.c-badge_text, .c-badge_year {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
}

.c-badge_text {
	width: 100%;
	animation: rotating 10s linear infinite;
	animation-play-state: paused;

	.c-badge.is-inview & {
		animation-play-state: running;
	}
}


@keyframes rotating {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}