// ==========================================================================
// Carousel
// ==========================================================================

.c-carousel {
	overflow: hidden;
}

.c-carousel_container  {
	overflow: hidden;
	padding-right: rem($padding);
	margin-right: rem(-$padding);
}

.c-carousel_control {
	display: flex;
	padding-bottom: 4px;
}

.c-carousel_control-reverse {
	@media (max-width: $to-medium) {
		display: flex;
		flex-direction: column-reverse;
	}
}

.c-carousel_control_button {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: rem(60px); height: rem(60px);
	transition: opacity $speed $easing;
	margin-right: rem(20px);

	&.swiper-button-disabled {
		opacity: 0.3;
		pointer-events: none;
	}

	&.-prev {
		transform: rotate(180deg);
	}

	&::before {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		content: "";
		border: 1px solid $white;
		border-radius: 100%;
		opacity: .5;
		transition: opacity $speed $easing, transform $speed $easing
	}

	&:hover {
		&::before {
			opacity: 1;
			transform: scale(0.8);
		}
	}
}

.c-carousel_control_arrow {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2px;
	width: rem(14px); height: rem(17px);
    transition: transform $speed $easing, opacity $speed $easing;

    &.-normal {
        position: relative;

        .c-carousel_control_button:hover & {
            opacity: 0;
            transform: translate(100%,0%);
        }
    }

    &.-hover {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-150%,-50%);
        opacity: 0;

        .c-carousel_control_button:hover & {
            opacity: 1;
            transform: translate(-50%,-50%);
        }
    }
}

.c-carousel_label {
	margin-bottom: rem(40px);

	@media (min-width: $from-medium) {
		font-size: rem(30px);
	}

	@media (max-width: $to-medium) {
		font-size: rem(22px);
	}
}