// ==========================================================================
// Carousel About
// ==========================================================================

.c-carousel-about_container {
	overflow: visible;

	@media (max-width: $to-medium) {
		padding-top: rem(60px);
		padding-bottom: rem(60px);
	}
}

.c-carousel-about_item {
	background-color: $purple-dark;
	color: $purple;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	overflow: hidden;
	padding: rem(30px);
	transition: color $speed-slow $easing, background $speed-slow $easing;

	@media (min-width: $from-medium) {
		height: rem(416px);
	}

	@media (max-width: $to-medium) {
		height: rem(280px);
	}

	&:hover {
		color: $white;
		background-color: #191d29;
	}

	.swiper-slide-active & {
		@media (max-width: $to-small) {
			color: $white;
			background-color: #191d29;
		}
	}
}

.c-carousel-about_bg {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	opacity: 0;
	transition: transform $speed-slow $easing, opacity $speed-slow $easing;
	transform: scale(1.15) rotate(-5deg);

	.c-carousel-about_item:hover & {
		opacity: 0.5;
		transform: scale(1) rotate(0deg);
	}

	.swiper-slide-active & {
		@media (max-width: $to-small) {
			opacity: 0.5;
			transform: scale(1) rotate(0deg);
		}
	}
}

.c-carousel-about_info {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	line-height: 1;
}

.c-carousel-about_info_title {
	font-family: $font-saol;

	@media (min-width: $from-large) {
		font-size: rem(180px);
	}

	@media (max-width: $to-large) {
		font-size: rem(120px);
	}
}

.c-carousel-about_info_number {
	font-family: $font-saol;

	@media (min-width: $from-medium) {
		font-size: rem(30px);
	}

	@media (max-width: $to-medium) {
		font-size: rem(22px);
	}
}

.c-carousel-about_text {
	position: relative;
	z-index: 2;
}

.c-caousel-about_control {
	@media (min-width: $from-medium) {
		position: absolute;
		bottom: 0; left: 0;
	}
}

.c-carousel-about_rail {
	white-space: nowrap;
    font-size: 0;
    display: flex;
    position: absolute;
    left: 0; right: 0;
    bottom: 50%;
    transform: translateY(90%);
    overflow: hidden;
}

.c-carousel-about_rail_wrap{
    position: relative;
    overflow: hidden;
    transition: opacity $speed-slow $easing, transform $speed-slow $easing;
    opacity: 0;
    transform: translateY(100%);

    .c-carousel-about_item:hover &{
        opacity: 0.5;
        transform: translateY(0%);
    }

    .swiper-slide-active & {
		@media (max-width: $to-small) {
			opacity: 0.5;
        	transform: translateY(0%);
		}
	}
}

.c-carousel-about_rail_item{
    display: inline-block;
    position: relative;    animation: railStatic 12s infinite linear;
    animation-play-state: paused;

    .c-carousel-about_item:hover &{
        animation-play-state: running;
    }

    .swiper-slide-active & {
		@media (max-width: $to-small) {
			animation-play-state: running;
		}
	}
}

.c-carousel-about_rail_label{
	line-height: 1;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    font-family: $font-maison-neue-extended;
    font-weight: $normal;
    color: $purple;
    padding-right: rem(100px);

    @media (min-width: $from-large) {
        font-size: rem($font-size-h2*1.2);
    }

    @media (min-width: $from-medium) and (max-width: $to-large) {
        font-size: rem(60px);
    }

    @media (max-width: $to-medium) {
        font-size: rem(45px);
    }
}

.c-caousel-about_title {
	@media (max-width: $to-medium) {
		display: none;
	}
}