// ==========================================================================
// Carousel Hero
// ==========================================================================

.c-carousel-hero {
	position: absolute;
	top: 50%; left: 0; right: 0;
	display: flex;
	align-items: center;
	overflow: visible;
	pointer-events: none;
	transition: transform $speed $easing, opacity $speed $easing;
	opacity: 0;
	transform: translateY(-50%) translateY(rem(50px));
	transition-delay: 0s;

	html.has-hero-slider-active & {
		opacity: 1;
		transform: translateY(-50%) translateY(rem(-60px));
		transition-delay: 0.15s;
	}

	html.is-mobile & {
		display: none;
	}
}


.c-carousel-hero_item {
	height: rem(340px);
	text-align: center;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}


.c-carousel-hero_container {
	overflow: visible;
}

.c-carousel-hero_container, .c-carousel-hero, .c-carousel-hero_item, .c-carousel-hero_list {
	height: rem(480px);
}

.c-carousel-hero_item {
	display: flex;
	flex-direction: column;
}

.c-carousel-hero_number {
	font-size: rem(30px);
	font-family: $font-saol;
	color: $purple;
	margin-bottom: rem(40px);
}