// ==========================================================================
// Carousel Family
// ==========================================================================

.c-carousel-family {
	position: relative;
	overflow: hidden;
}

.c-carousel-family_item {
	box-sizing: border-box;
}

.c-carousel-family_content {
	position: relative;
	z-index: 3;

	@media (min-width: $from-medium) {
		padding-bottom: rem(200px);
	}
}

.c-carousel-family_container {
	overflow: visible;
}

.c-carousel-family_control {
	@media (min-width: $from-medium) {
		position: absolute;
		bottom: 0; left: 0; right: 0;
		z-index: 3;
	}
}

.c-carousel-family_title {
	font-family: $font-maison-neue-extended;
	line-height: 1.13;
    margin-bottom: rem(60px);


	@media (min-width: $from-large) {
		font-size: rem(100px);
	}

	@media (min-width: $from-medium) and (max-width: $to-large) {
		font-size: rem(80px);
	}

	@media (max-width: $to-large) {
		transition: transform $speed $easing;

		.swiper-slide-active & {
			transform: translateX(0) !important;
		}
	}

	@media (min-width: $from-medium) and (max-width: $to-large) {
		transform: translateX(rem(-280px)) !important;
	}

	@media (max-width: $to-medium) {
		transform: translateX(rem(-50px)) !important;
		padding-right: rem(60px);
	}

	@media (max-width: $to-medium) {
		font-size: rem(60px);
		padding-right: rem(40px);

		.swiper-slide-active & {
			transform: translateX(0) !important;
		}
	}

	@media (max-width: $to-small) {
		font-size: rem(45px);
		margin-bottom: rem(30px);
	}
}

.c-carousel-family_title_sup{
	font-family: $font-saol;
    color: $purple;
    display: inline-block;

    @media (min-width: $from-large) {
        font-size: rem(30px);
        top: -2.6em; left: -0.5em;
    }

    @media (min-width: $from-medium) and (max-width: $to-large) {
        font-size: rem(30px);
        top: -2em; left: -0.5em;
    }

    @media (max-width: $to-medium) {
        font-size: rem(22px);
        top: -2em; left: -0.2em;
    }

    @media (max-width: $to-small) {
		display: none;
	}
}

.c-carousel-family_video {
	@media (min-width: $from-medium) {
		transform: translateX(-16%);
	}

	@media (max-width: $to-medium) {
		margin: 0 auto rem(20px) auto;
		width: 60%;
	}
}

.c-carousel-family_video_inner {
	background-color: #12151F;
}

.c-carousel-family_player {
	height: 100%; width: 100%;
    object-fit: cover;
    //opacity: 0.4;
}

video {
	pointer-events: none;
}