// ==========================================================================
// Componenets / Cursor
// ==========================================================================

.c-cursor {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 10;
    pointer-events: none;

    .is-mobile & {
        display: none;
    }
}

.c-cursor_inner{
    position: absolute;
    width: rem(100px);
    padding-bottom: rem(100px);
    margin-top: rem(-50px);
    margin-left: rem(-50px);
    transition: opacity $speed $easing;
    opacity: 0;

    &.has-moved {
        opacity: 1;
    }

    &.has-hover {
        opacity: 1;
    }
}

.c-cursor_dot {
    position: absolute;
    top: 50%; left: 50%;
    width: rem(60px); height: rem(60px);
    display: block;
    transition: transform $speed $easing;
    transform: translate(-50%,-50%) scale(1);

    .has-hover-video & {
        transform: translate(-50%,-50%) scale(0);
    }


    &::before, &::after {
        position: absolute;
        top: 50%; left: 50%; 
        content: "";
        border-radius: 100%;
        display: block;
        transition: transform $speed $easing, opacity $speed $easing;
    }

    &::before{
        width: rem(12px); height: rem(12px);
        transform: translate(-50%,-50%) scale(1,1);
        background-color: $white;
        border-radius: 100%;

        .has-hover & {
            transform: translate(-50%,-50%) scale(0,0);
        }
    }

    &::after {
        top: 0; left: 0; right: 0; bottom: 0;
        border: 1px solid $white;
        transform: scale(0,0);
        opacity: 0.5;

        .has-hover & {
            transform: scale(1,1);
        }

        .has-hover-drag & {
            transform: scale(1.4,1.4);
        }
    }
}

.c-cursor_play {
    position: absolute;
    top: 50%; left: 50%;
    width: rem(96px); height: rem(96px);
    background-color: $black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform $speed $easing;
    transform: translate(-50%,-70%) scale(0);

    .has-hover-video & {
        transform: translate(-50%,-70%) scale(1);
    }
}

.c-cursor_play_label {
    color: $white;
    font-size: rem(16px);
}

.c-cursor_drag {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform $speed $easing;
    transform: scale(0,0);

    .has-hover-drag & {
        transform: scale(1,1);
    }
}

.c-cursor_drag_arrow {
    fill: $white;
    width: rem(14px); height: rem(14px);
    margin: 0 rem(11px);
    
    
    &.-left  {
        animation: dragLeft 1s infinite linear;
        animation-play-state: paused;
    }

    &.-right  {
        animation: dragRight 1s infinite linear;
        animation-play-state: paused;
    }

    .has-hover-drag & {
        animation-play-state: running;
    }
}

@keyframes dragLeft{
    0%, 100%{
        transform: translate3d(0, 0, 0);
    }
    50%{
        transform: translate3d(rem(-5px), 0, 0);
    }
}

@keyframes dragRight{
    0%, 100%{
        transform: translate3d(0, 0, 0);
    }
    50%{
        transform: translate3d(rem(5px), 0, 0);
    }
}
