// ==========================================================================
// Figure
// ==========================================================================

.c-figure {
	position: relative;
	overflow: hidden;

	&.-offset-right {
		@media (min-width: $from-small) {
			margin-right: rem(-$padding);
		}
	}

	&.-overlay {
		&::after {
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			content: "";
			background-color: $black;
			opacity: 0.2;
			transition: opacity $speed $easing;

			.c-video:hover & {
				opacity: 0.5;
			}
		}
	}
}

.c-figure_bg {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 2;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.c-figure_wrap {
	html.has-scroll-smooth .c-figure.-parallax & {
		margin-top: rem(-10px); 
		margin-left: rem(-10px); 
		margin-bottom: rem(-10px); 
		margin-right: rem(-10px);
	}
}

.c-figure_img {
	width: 100%; height: auto;

}