// ==========================================================================
// Header
// ==========================================================================

.c-header {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 100;
	padding: rem(25px) 0;
	transform: translateY(-100%);
	pointer-events: none;

	html.is-loaded & {
		transition: transform $speed-slow $easing-in-out;
		transform: translateY(0%);
	}
}

.c-header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.c-header_logo {
	display: inline-block;
	pointer-events: auto;

	svg {
		width: rem(195px); height: rem(40px);
	}
}



// Header start a project button
// ==========================================================================
.c-header_button {
	pointer-events: auto;

	@media (max-width: $to-small) {
		padding: 0;
		width: auto;
	}
}

.c-header_button_label {
	@media (max-width: $to-small) {
		display: none;
	}
}

.c-header_button_icon {
	@media (max-width: $to-small) {
		position: relative;
		top: inherit; right: inherit;
		transform: none;
		width: rem(40px); height: rem(40px);
		background-color: $gray-dark;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%
	}
}