// ==========================================================================
// Hero
// ==========================================================================

.c-hero {
	min-height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 3;

	@media (max-width: $to-medium) {
		background-color: transparent !important;
	}

	@media (max-width: $to-small) {
		min-height: calc(100vh - #{rem(50px)});
	}
}

.c-hero_scroll {
	position: absolute;
	bottom: 0; left: 50%;
	width: rem(10px); 
	display: flex;
	justify-content: center;
	transform: translate(-50%,50%);
	overflow: hidden;
	cursor: pointer;

	@media (min-width: $from-medium) {
		height: rem(148px);
	}

	@media (max-width: $to-medium) {
		height: rem(120px);
	}
}

.c-hero_scroll_line {
	width: 1px; height: 100%;
	position: relative;
	transform: translateY(100%);

	html.is-loaded & {
		transition: transform $speed-slow $easing-in-out;
		transform: translateY(0%);
	}

	&::before {
		opacity: 0.5;
	}

	&::after {
		animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
	}

	&::before, &::after {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		content: "";
		background-color: $white;
	}
}

@keyframes scrolldown {
	0%{
		transform: translateY(-100%);
	}
	75% {
		transform: translateY(0%);
	}
	100%{
		transform: translateY(100%);
	}
}

.c-hero_text {
	@media (min-width: $from-small) {
		font-size: rem(26px);
	}

	@media (max-width: $to-small) {
		font-size: rem(22px);
		padding: 0 5%;
	}
}

.c-hero_text_button {
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	padding: rem(10px) 0;
	line-height: 1;

	&::before {
		position: absolute;
		bottom: rem(10px); left: 0; right: 0;
		content: "";
		height: 1px;
		background-color: $white;
		transition: transform $speed $easing;
		transform: translateY(0);
	}

	&:hover {
		&::before {
			transform: translateY(0) scaleX(1.05);
		}
	}


	html.is-mobile & {
		pointer-events: none;
	}
}

.c-hero_text_hide {
	display: inline-block;
	transition: transform $speed $easing, opacity $speed $easing;

	html.has-hero-slider-active & {
		opacity: 0;
		transform: translateY(rem(30px));
	}
}

.c-hero_title {
	transition: transform $speed $easing, opacity $speed $easing;
	transition-delay: 0.3s;

	html.has-hero-slider-active & {
		opacity: 0;
		transform: translateY(rem(-120px));
		transition-delay: 0s;
	}
}