// ==========================================================================
// Nav
// ==========================================================================

.c-nav {
	position: fixed;
	z-index: 10;
	top: rem(100px); right: 0; bottom: 0;
	display: flex;
	flex-direction: column;
	width: rem($padding);

	@media (max-width: $to-small) {
		display: none;
	}

	html.is-mobile & {
		display: none;
	}
}

.c-nav_list {
	display: flex;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	flex-direction: column;
	justify-content: center;
}

.c-nav_item {
	transition: transform $speed $easing, opacity $speed $easing;
	transform: translateX(100%);
	opacity: 0;

	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			transition-delay: (0.05s * $i);
		}
    }

    .c-nav:hover & {
		transform: translateX(0%);
		opacity: 1;
    }
}

.c-nav_link {
	display: flex;
	position: relative;
	width: 100%; height: rem(40px);
	justify-content: center;
	align-items: center;
}

.c-nav_dot {
	display: inline-block;
	background-color: $white;
	width: 6px; height: 6px;
	border-radius: 100%;
	transition: opacity $speed $easing;
	opacity: 0.4;

	.c-nav_link:hover & {
		opacity: 1;
	}
}

.c-nav_label {
	position: absolute;
	right: 100%; top: 50%;
	white-space: nowrap;
	transform: translate(0px, -50%);
	transition: transform $speed $easing, opacity $speed $easing;
	opacity: 0;
	text-transform: uppercase;
	font-size: rem(14px);

	.c-nav_link:hover &{
		opacity: 1;
		transform: translate(rem(15px), -50%);
	}
}

.c-nav_button {
	position: absolute;
	top: 50%; left: 0; right: 0;
	height: 26px;
	transition: transform $speed $easing, opacity $speed $easing;
	transition-delay: 0.3s;

	&::before, &::after {
		position: absolute;
		display: inline-block; 
		background-color: $white;
		width: 6px; height: 6px;
		border-radius: 100%;
		content: "";
		left: 50%;
		margin-left: -3px;
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	.c-nav:hover & {
		transform: translateX(100%);
		opacity: 0;
		transition-delay: 0s;
    }
}