// ==========================================================================
// Rail
// ==========================================================================

.c-rail{
    white-space: nowrap;
    font-size: 0;
    display: flex;
    opacity: 0.5;
}

.c-rail_wrap{
    position: relative;
    overflow: hidden;
}

.c-rail_item{
    display: inline-block;
    position: relative;
    padding: 10px 0;
    animation: railStatic 15s infinite linear;
    animation-play-state: paused;

    .c-rail.is-inview &{
        animation-play-state: running;
    }
}

@keyframes railStatic{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-100%, 0, 0);
    }
}

.c-rail_label{
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    color: $black;
    background: rgb(255,219,241);
    background: linear-gradient(145deg, rgba(32,19,187,1) 0%, rgba(125,204,240,1) 32%, rgba(218,244,242,1) 74%, rgba(255,219,241,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    padding-right: rem(100px);
    line-height: 1;
    font-family: $font-maison-neue-extended;
    font-weight: $bold;

    @media (min-width: $from-medium) {
        font-size: rem(258px);
    }

    @media (max-width: $to-medium) {
        font-size: rem(200px);
    }
}
