// ==========================================================================
// Section
// ==========================================================================

.c-section {
	position: relative;
	z-index: 2;

	@media (min-width: $from-small) {
		padding: rem(200px) 0;
	}

	@media (max-width: $to-medium) {
		background-color: $black;
	}

	@media (max-width: $to-small) {
		padding: rem(80px) 0;
	}

	&.-no-padding {
		padding: 0;
	}

	&.-no-padding-top {
		padding: 0;
	}

	&.-black {
		background-color: $black;
	}

	&.-fullheight {
		display: flex;
		align-items: center;

		@media (min-width: $from-medium) {
			height: 100vh;
			min-height: rem(800px);
		}

		@media (max-width: $to-small) {
			padding: rem(130px) 0;
		}
	}
}


.c-section_content {
	&.-padding-top {
		@media (min-width: $from-medium) {
			padding-top: rem(180px);
		}

		@media (max-width: $to-medium) {
			padding-top: rem(80px);
		}
	}

	&.-padding-right {
		padding-right: 20%;
	}

	&.-padding-bottom {
		padding-bottom: rem(40px);
	}

	&.-padding-bottom\@from-medium {
		@media (min-width: $from-medium) {
			padding-bottom: rem(40px);
		}
	}

	&.-padding-top\@to-medium {
		@media (max-width: $to-medium) {
			padding-top: rem(40px);
		}
	}
}

.c-section_content_small {
	margin-top: rem(20px);

	p {
		font-size: rem(14px);

		@media (min-width: $from-medium) and (max-width: $to-huge) {
            font-size: rem(15px);
        }
	}
}