// ==========================================================================
// Video Modal
// ==========================================================================

.c-video-modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: visibility 0s $speed linear;
    pointer-events: none;

    &:before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-color: $black;
        transition: opacity $speed $easing;
        opacity: 0;
    }

    &.is-active {
        visibility: visible;
        transition: visibility 0s 0s linear;
        pointer-events: auto;

        &::before {
            opacity: 1;
        }
    }
}

.c-video-modal_content {
    width: 75%;

    @media (max-width: $to-large) {
        width: 90%;
    }
}

.c-video-modal_inner {
    position: relative;
    padding-bottom: 56%;
    background-color: $black;
    opacity: 0;
    // transform: tr;
    transition: opacity .25s $easing;
    transition-delay: 0s;

    .c-video-modal.is-active & {
        opacity: 1;
        transition: opacity 1s $easing;
        transition-delay: $speed-slow;
    }

    iframe {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
    }
}

.c-video-modal_close {
    position: absolute;
    top: rem(20px); right: rem(40px);
    color: $white;
    padding-right: 0;
    width: auto;
}
