// ==========================================================================
// Base / Fonts
// ==========================================================================

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('../fonts/MaisonNeueExtended-Demi.woff2') format('woff2'),
        url('../fonts/MaisonNeueExtended-Demi.woff') format('woff');
    font-weight: $normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue Ext';
    src: url('../fonts/MaisonNeueExtended-Bold.woff2') format('woff2'),
        url('../fonts/MaisonNeueExtended-Bold.woff') format('woff');
    font-weight: $bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Saol';
    src: url('../fonts/SaolStandard-Regular.woff2') format('woff2'),
        url('S../fonts/SaolStandard-Regular.woff') format('woff');
    font-weight: $normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('../fonts/MaisonNeue-Book.woff2') format('woff2'),
        url('../fonts/MaisonNeue-Book.woff') format('woff');
    font-weight: $light;
    font-style: normal;
    font-display: swap;
}

$font-maison-neue: 'Maison Neue', sans-serif;
$font-maison-neue-extended: 'Maison Neue Ext', sans-serif;
$font-saol: 'Saol', serif;